@import url("https://fonts.cdnfonts.com/css/common-pixel");

body {
    background-color: #29293d;
    margin: 0px;
    color: lightgrey;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 150px;
    background-color: #14141f;
}

footer {
 width: 100%;
 height: 100px;
 background-color: #14141f;
 margin-top: 150px;
 display: flex;
 justify-content: center;
 align-items: center;
}
footer p {
    font-size: 20px;
}

#title{
    text-align: center;
    margin: auto;
    padding-top: 50px;
    font-family: "Common Pixel", sans-serif;
    color: orange;
    font-size: 40px;
    }

#main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status h3, p {
    text-align: center;
}
h3 {
    font-size: 30px;
    font-weight: bold;
}
p {
    font-size: 25px;
    font-weight: bold;
}
.results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto auto;
    gap: 100px;
}

.photo img {
    width: 100px;
    height: 135px;
 }
.player, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.choices {
    margin-top: 75px;
    display: flex;
    gap: 50px;
}

button {
    height: 150px;
    width:  150px;
    border-radius: 15px;
    background-color: #3d3d5c;
}
 button:hover {background-color: #33334d}
.button:active {
    background-color: #33334d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button img {
    display: block;
    height: 90px;
    width: 90px;
    margin: auto;
}
